<h1>LinkCondenser</h1>
<h2>Shorten Link</h2>
<form class="form" action="/" method="POST">
    <fieldset class="form-fieldset ui-input __first">
        <input name="url" type="text" id="url" tabindex="0" />
        <label for="url">
            <span data-text="URL">URL</span>
        </label>
    </fieldset>
    
    <fieldset class="form-fieldset ui-input __second">
        <input name="alias" type="text" id="alias" tabindex="0" />
        <label for="alias">
            <span data-text="Alias (optional)">Alias (optional)</span>
        </label>
    </fieldset>
    
    <div class="form-footer">
        <button class="btn">Shorten Link</button>
    </div>
</form>

<!-- This to be a box that fades in on link submission: Same box to be used for errors, validation and link details -->

<!-- Probably simpler, easier and cleaner to do with AJAX - no page refresh -->
<!-- Worth looking at a React frontend -->
<% if(url) { %>
    <div>
        <p>Your link to <%= url.url %></p>
        <a href="<%= url.host + '/r/' + url.alias %>" target="_blank">
            <%= url.host + '/r/' + url.alias %>
        </a>
    </div>
<% } %>
