<h1>LinkCondenser</h1>
<h2>Shorten Link</h2>
<form class="form" action="#" method="POST">
    <fieldset class="form-fieldset ui-input __first">
        <input type="text" id="username" tabindex="0" />
        <label for="username">
            <span data-text="URL">URL</span>
        </label>
    </fieldset>
    
    <fieldset class="form-fieldset ui-input __second">
        <input type="email" id="email" tabindex="0" />
        <label for="email">
            <span data-text="Alias">Alias (optional)</span>
        </label>
    </fieldset>
    
    <div class="form-footer">
        <button class="btn">Shorten Link</button>
    </div>
</form>
